<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
         id="WebApp_ID" version="4.0">
  
  <display-name>GibierSubscription</display-name>
  <description>ジビエ定期購入システム - チーム開発版</description>
  
  <!-- ========== 文字エンコーディング設定 ========== -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- ========== 開発効率化フィルター ========== -->
  <!-- キャッシュ無効化フィルター（CSS用のみ） -->
  <filter>
    <filter-name>NoCacheFilter</filter-name>
    <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
    <init-param>
      <param-name>ExpiresByType text/css</param-name>
      <param-value>access plus 0 seconds</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>NoCacheFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  
  <!-- ========== エラーページ設定 ========== -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/common/error404.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/common/error500.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jsp/common/error403.jsp</location>
  </error-page>
  
  <!-- Java例外のエラーページ -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/jsp/common/error500.jsp</location>
  </error-page>
  
  <!-- ========== MIME タイプ設定 ========== -->
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  
</web-app>